body {
    background-color: black;
    color: grey;
}


img {
    position: relative;
    float: left;
}

#textBox {
    text-align: center;
    font-size: 150%;
    position: relative;
    float: left;
}

h1 {
    color: white;
    font-size: strong;
}


